{
  "env": {
    "test": {
      "presets": [ "env" ]
    },
    "build": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": "last 2 years"
          }
        ],
        "@babel/preset-react"
      ]
    }
  }
}
